@font-face {
  font-family: 'Courgette';
  src: url('./Courgette-Regular.ttf');
}

.App {
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 25%;
}

.top-text {
  font-size: 70px;
  color: #ff1074;
}

.navbar-title {
  font-family: 'Courgette';
  margin: 0;
}

.github-icon {
  display: space-evenly;
  align-items: center;
  color: #000000;
}

.github-icon a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}

.github-icon a:hover {
  color: #555555;
}


.box-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-1 {
  width: 50%;
  height: 250px;
  background-color: #272727dc;
  border: 1px solid #444444;
  margin: 10px 5px 10px 10px;
}

.container-2 {
  width: 50%;
  height: 250px;
  background-color: #272727dc;
  border: 1px solid #444444;
  margin: 10px 5px 30px 10px;
}

.text-header {
  width: 100%;
  height: 50px;
  background-color: #3a3a3adc;
  border-bottom: 1px solid #444444;
  padding: 2px 0;
}

.text-header p {
  color: #fff;
  padding: 0px 20px;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-result {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-text {
  margin: 10px;
  width: 100%;
  height: 170px;
  background-color: #302f2f;
  border: 2px solid #666666;
  border-radius: 4px;
  color: #fff;
  resize: none;
}

.input-result-container {
  height: 100%;
  overflow-y: auto;
}

.input-result {
  color: #fff;
  text-align: left;
  padding: 10px;
  margin: 0;
  overflow-wrap: break-word;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0 25%;
}

.footer p {
  color: #fff;
}

.btn {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #ff1074;
  color: #fff;
  opacity: 1;
  border: 1px solid #b6b6b6;
  border-radius: 7px;
  font-size: 18px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
  background-color: #ff107494;
}